<h1>GMチャット</h1>
<p>GMチャットは色々なゲームについて話し合うためのサイトです。
お好きなゲームについてのルームを作成してチャットやマルチプレイをを楽しむことができます。</p>
<br><br>
<div style="text-align: center;">
<a class="btn-login" href='top/login'>ログイン</a><br><br>
<a class="btn-user" href='user/new'>ユーザー登録</a>
</div>