<br>
<% if flash[:notice]%>
  <p><font color="black"><span style="font-weight:bold;"><%= flash[:notice] %></span></front></p>
<% end %>

<a class="btn-back" href='/'>戻る</a>
<div style="text-align: center;">
<%= form_tag'/top/login', method: :post do %>
 <div style="font-size: 20px">
 <%= label_tag :uid, 'ユーザーID' %><br>
 <%= text_field_tag :uid %><br><br>
 <%= label_tag :pass, 'パスワード' %><br>
 <%= password_field_tag :pass %><br><br>
 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
 &emsp;&emsp;&emsp;
 <%= submit_tag 'ログイン' %>
 </div>
<% end %>
</div>