<u><%='ユーザー名'%>&emsp; <%= "#{session[:login_name]}"%>&emsp;&emsp;<br></u>
<p1>ログイン中</p1>
<div style="text-align: left;">
<a class="btn-mypage" href='/user#index'>マイページ</a>
</div>
<br>
お気に入りユーザー
<% @users.each do |t| %>
    <p>
    <% if Relationship.find_by(liked_id: t.id) %>
      <% if session[:login_name] != t.name %>
    　　<%= t.name %>
      <% end %>
    <% end %>
    </p>
<% end %>
<hr>
<br><br>

<%= render "rooms/room" %>
<br>
<a class="btn-mypage" href='../rooms/new'>ルーム作成</a>
<br><br>
<hr>
<a class="btn-logout" href='../top/logout'>ログアウト</a>
<br>
<br>
<br>

ユーザー一覧
<% @users.each do |t| %>
    <p>
    <% if session[:login_name] != t.name %>
      <% if Relationship.find_by(liked_id: t.id) %>
        <%= link_to '★', relationship_path(t), method: :delete %>
      <% else %>
        <%= link_to '☆', relationships_path(id: t.id), method: :post %>
      <% end %>
            <%= t.name %>
    <% end %>
    </p>
<% end %>
