<br>
<a class="btn-back" href='top/main'>戻る</a>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<a class="btn-mypage" href= '/user/mypage' >マイページの編集</a><br<br>
<br><br><br><br>
<div style="font-size: 20px">
  ユーザー名：
  <%= "#{session[:name]}"%>&emsp;&emsp;<br><br>
  ユーザーID：
  <%= "#{session[:login_uid]}"%>&emsp;&emsp;<br><br>
  ひとこと：
  <%= "#{session[:text]}"%>&emsp;&emsp;<br>
</div>
