<br>
<div style="text-align: center;">
<%= form_for @user, url: {action: :mypage} do |f| %>
  <div style="font-size: 20px">
    <%= f.label :name, 'ユーザー名' %><br>
    <%= f.text_field :name %> <br><br>
    <%= f.label :text, 'コメント' %><br>
    <%= f.text_area :text ,size: "70×30" %> <br><br>
  </div><br><br>
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  <%= f.submit '登録' %>
<% end %>
</div>
