<br>
<a class="btn-back" href='/'>戻る</a>
<% if @user.errors.present? %>
<h3>エラーがあります。</h3>
<ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<div style="text-align: center;">
<%= form_for @user, url: {action: :create} do |f| %>
  <div style="font-size: 20px">
  <%= f.label :uid, 'ユーザーID' %><br>
  <%= f.text_field :uid %> <br><br>
  <%= f.label :name, 'ユーザー名' %><br>
  <%= f.text_field :name %> <br><br>
  <%= f.label :pass, 'パスワード' %><br>
  <%= f.password_field :pass %> <br><br>
  <%= f.label :password_confirmation, 'パスワード（確認）' %><br>
  <%= f.password_field :password_confirmation %><br><br>
  </div>
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  <%= f.submit '登録' %>
<% end %>
</div>