<br>
<a class="btn-back" href='/'>戻る</a>
<% if @room.errors.present? %>
<h3>エラーがあります。</h3>
<ul>
  <% @room.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<div style="text-align: center;">
<%= form_for @room, url: {action: :create} do |f| %>
  <div style="font-size: 20px">
  <%= f.label :title, '部屋名' %><br>
  <%= f.text_field :title %> <br><br>
  <%= f.label :comment, 'コメント' %><br>
  <%= f.text_field :comment %> <br><br>
  </div>
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  <%= f.submit '登録' %>
<% end %>
</div>