<h1>チャットルーム</h1>
<u><%= 'アカウント名'%>&emsp;  <%= "#{session[:login_name]}"%>&emsp;&emsp;<br></u>
<%= "部屋名：#{@room.title}" %>
<br>
<%= "コメント：#{@room.comment}" %>

<br><br>
<div id='messages' data-room_id="<%= @room.id %>">
  <%= render @messages %>
</div>

<%= label_tag :content, 'チャット入力:' %>
<%= text_field_tag :content, nil, data: { behavior: 'room_speaker' } %>
<br>
<a class="btn-logout" href='../top/main'>戻る</a>