html {
  background-color: #CEF9DC;
  margin: 30px;
}
body {
  background-color: #fff;
  width: 980px;
  margin: 0 auto;
  padding: 10px 20px 70px 20px;
}

p{
  background-color: #e0ffff;
  font-size: 18px;
}

h1 {
  font-size: 65px;
  text-align: center;
}
.btn-login {
  display: inline-block;
  padding: 16px 100px;
  text-decoration: none;
  border: 1px;
  background: #668ad8;
  color: #FFF;
  box-shadow: 0px 2px 4px #575;
  border-radius: 10px;
}

.btn-user {
  display: inline-block;
  padding: 16px 83px;
  text-decoration: none;
  border: solid 1px #668ad8;
  background: #FFF;
  color: #668ad8;
  box-shadow: 0px 2px 4px #575;
  border-radius: 10px;
}

.btn-back {
  display: inline-block;
  padding: 16px 24px;
  text-decoration: none;
  border: solid 1px #668ad8;
  background: #FFF;
  color: #668ad8;
  box-shadow: 0px 2px 4px #575;
  border-radius: 10px;
}

.btn-logout {
  display: inline-block;
  padding: 16px 24px;
  text-decoration: none;
  border: solid 1px #668ad8;
  background: #FFF;
  color: #668ad8;
  box-shadow: 0px 2px 4px #575;
  border-radius: 10px;
}

.btn-mypage {
  display: inline-block;
  padding: 16px 30px;
  text-decoration: none;
  border: 1px;
  background: #668ad8;
  color: #FFF;
  box-shadow: 0px 2px 4px #575;
  border-radius: 10px;
}


input[type="text"]{
  width: 400px;
  height: 30px;
}

input[type="password"]{
  width: 400px;
  height: 30px;
}

input[type="submit"]{
  display: inline-block;
  padding: 16px 24px;
  text-decoration: none;
  border: 1px;
  background: #668ad8;
  color: #FFF;
  box-shadow: 0px 2px 4px #575;
  border-radius: 10px;
}